[Unit]
Description=MTD Framework Server
After=multi-user.target

[Service]
WorkingDirectory=/root/MTDFramework
ExecStart=/usr/bin/python3 /root/MTDFramework/server.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target